*{
    padding: 0;
    margin: 0;
}
body{
/*background-color: #030630;*/
}
#box{
    height:500px;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
    
}
#searchBar{
    position: absolute;
    top:10%;
    right:0; 
}
input{
    border: 1px solid #000;
    outline: none;
}
#wea{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}
#data{
    position: absolute;
    left:10px;
    top:40%;
    transform: translateY(-50%);
    
}
#name{
    border-bottom: 5px solid #fff;
    width: fit-content;
}
